<followAccountConfig>
  <followAccounts>
    <followAccount
      user="guardianmusic"
      displayName="Guardian Music"
      weight="10" />

    <followAccount
      user="cabal76"
      displayName="Spotirama"
      weight="10" />

    <followAccount
      user="nzonairmusic"
      displayName="NZ On Air"
      weight="8" />

    <followAccount
        user="triple.j.abc"
        displayName="Triple J"
        weight="8" />

  </followAccounts>
</followAccountConfig>