<followAccountConfig>
  <followAccounts>
    <followAccount
      user="dominorecords"
      displayName="Domino Records"
      weight="10" />

    <followAccount
      user="subpoprecords"
      displayName="Sub Pop Records"
      weight="10" />

    <followAccount
      user="warprecords"
      displayName="Warp Records"
      weight="6" />

  </followAccounts>
</followAccountConfig>