<playlistConfig>
  <playlists>
    <!-- New, rotating music -->
    <playlist
      playlistName="BBC 6 Music recommends"
      user="bbc_playlister"
      playlistId="6ToRtiBeKUf0py8gZO6gQj"
      weight="10" />
    
    <playlist
      playlistName="Hottest record in the world"
      user="bbc_playlister"
      playlistId="1Snu2f6yIWWufuqYkYaYKR"
      weight="10" />

    <playlist
      playlistName = "Double J Hitlist"
      user = "doublejradio"
      playlistId = "3eVaP90RyWrOKu6Gejw5Eg"
      weight = "10"/>

    <playlist
      playlistName = "NPR Heavy Rotation"
      user = "npr_music"
      playlistId = "6yVAvRJ8BaKpx4rZ9F5xMw"
      weight = "10"/>

    <!-- Curated lists -->
    <playlist
      playlistName = "Josh Homme's Alligator Hour"
      user = "1262019033"
      playlistId = "4m4bGVPdfssEkn7u3CVQFd"
      weight = "10"/>

    <playlist 
      playlistName = "The Definitive Later... with Jools"
      user = "ajpegg"
      playlistId = "1mWt9unHFcjyAT1SVI985d"
      weight = "10" />
    
    <!-- Time/decade specific -->
    <playlist
      playlistName = "Psychedilic era: 65-68"
      user = "cabal76"
      playlistId = "79emhbSRZCFatqEU9ahcm1"
      weight = "2" />

    <playlist
      playlistName = "The British Invasion: 64-69"
      user = "cabal76"
      playlistId = "2WLjrUKMwOhXvBVpEOUDe8"
      weight = "2" />

    <playlist
      playlistName = "Mucchio #12 - Hip Hop Old School"
      user = "cabal76"
      playlistId = "5VXeEowg9QA6Hi2qVJafe4"
      weight = "2" />

    <playlist
      playlistName = "70s cuts"
      user = "patreeeek"
      playlistId = "1gBgOd7GUGU9gMa6wSLLLb"
      weight = "4" />

    <playlist
      playlistName = "80s cuts"
      user = "patreeeek"
      playlistId = "5CzjSMJf8z9pp2ek0xCGmM"
      weight = "4" />

    <playlist
      playlistName = "60s cuts"
      user = "patreeeek"
      playlistId = "6T88w91edJn84em17Cz9K3"
      weight = "4" />
    
    <!-- NZ music -->
    <playlist
      playlistName = "RDU: The Green Room: Kiwi electronic"
      user = "rdu98.5fm"
      playlistId = "59wl8yn0lpkgpTar6X9XLV"
      weight = "3" />

    <playlist
      playlistName = "RDU: The Sheep Technique: Kiwi indie"
      user = "rdu98.5fm"
      playlistId = "4lGW4R6Ql5QbnZ6pCjAi9H"
      weight = "3" />

    https://open.spotify.com/user/tunenewmusic/playlist/3sPOTwKiWwEpeuG5MmHeVf

    <playlist
        playlistName = "Killer kiwis"
        user = "tunenewmusic"
        playlistId = "4lGW4R6Ql5QbnZ6pCjAi9H"
        weight = "3" />

    <playlist
      playlistName = "AllTracks: Folk + country"
      user = "nzonairmusic"
      playlistId = "088ZPrZoFiOfj9LMYBGlL8"
      weight = "2" />

    <playlist
      playlistName = "AllTracks: Dance + electronic"
      user = "nzonairmusic"
      playlistId = "6eBOnwnwmFCgLVshteqljr"
      weight = "2" />

    <playlist
      playlistName = "AllTracks: Alt + indie"
      user = "nzonairmusic"
      playlistId = "7EJiuhaG1AKvv2k66ZRUWM"
      weight = "2" />

    <playlist
      playlistName = "AllTracks: Hiphop + RnB"
      user = "nzonairmusic"
      playlistId = "61rGz0MbLEy2yDT9L4PDFo"
      weight = "2" />

    <playlist
      playlistName = "AllTracks: Reggae + roots"
      user = "nzonairmusic"
      playlistId = "6HpLrz9vAQU28HCkn5tXyl"
      weight = "2" />

    <playlist
      playlistName = "AllTracks: Rock + metal"
      user = "nzonairmusic"
      playlistId = "4zhvnYR2oVhtEXjzoQuHrh"
      weight = "2" />
  </playlists>
</playlistConfig>