<playlistConfig>
  <playlists>
    <!-- New, rotating music -->
    <playlist
      playlistName="BBC 6 Music Playlist"
      user="bbc_playlister"
      playlistId="2ahRj2qynhNin0a898mGWc"
      weight="20" />

    <playlist
      playlistName="BBC 6 Music recommends"
      user="bbc_playlister"
      playlistId="6ToRtiBeKUf0py8gZO6gQj"
      weight="4" />

    <playlist
      playlistName="Hottest record in the world"
      user="bbc_playlister"
      playlistId="1Snu2f6yIWWufuqYkYaYKR"
      weight="25" />

    <playlist
      playlistName = "Double J Hitlist"
      user = "doublejradio"
      playlistId = "3eVaP90RyWrOKu6Gejw5Eg"
      weight = "20"/>

    <playlist
        playlistName = "Triple J Hitlist"
        user = "triple.j.abc"
        playlistId = "7vFQNWXoblEJXpbnTuyz76"
        weight = "20"/>

    <playlist
        playlistName = "Pitchform's best new tracks"
        user = "pitchfork"
        playlistId = "7q503YgioHAbo1iOIa67M8"
        weight = "20"/>

    <!-- Disabled - as this doesn't seem to get updated anymore -->
    <!--<playlist
      playlistName = "NPR Heavy Rotation"
      user = "npr_music"
      playlistId = "6yVAvRJ8BaKpx4rZ9F5xMw"
      weight = "10"/>-->

    <!-- Semi-updated cumulative playlists -->
    <playlist
        playlistName = "Played by Benji B"
        user = "benjib"
        playlistId = "5bC7qyQ0mo9PoGrbI6G5XJ"
        weight = "2"/>

    <playlist 
      playlistName = "The Definitive Later... with Jools"
      user = "ajpegg"
      playlistId = "1mWt9unHFcjyAT1SVI985d"
      weight = "5" />
    
    <!-- NZ music -->
    <playlist
        playlistName = "Killer kiwis"
        user = "tunenewmusic"
        playlistId = "3sPOTwKiWwEpeuG5MmHeVf"
        weight = "5" />

    <playlist
      playlistName = "NZ On Air - Fresh cuts"
      user = "nzonairmusic"
      playlistId = "7y4Lfk7w2jWKBJ50OAgm1i"
      weight = "5" />
    
  </playlists>
</playlistConfig>