<playlistConfig>
  <playlists>
    <!-- New, rotating music -->
    <playlist
      playlistName="BBC 6 Music recommends"
      user="bbc_playlister"
      playlistId="6ToRtiBeKUf0py8gZO6gQj"
      weight="10" />
    
    <playlist
      playlistName="Hottest record in the world"
      user="bbc_playlister"
      playlistId="1Snu2f6yIWWufuqYkYaYKR"
      weight="10" />

    <playlist
      playlistName = "Double J Hitlist"
      user = "doublejradio"
      playlistId = "3eVaP90RyWrOKu6Gejw5Eg"
      weight = "10"/>

    <playlist
      playlistName = "NPR Heavy Rotation"
      user = "npr_music"
      playlistId = "6yVAvRJ8BaKpx4rZ9F5xMw"
      weight = "10"/>

    <!-- Curated lists -->
    <playlist
      playlistName = "Josh Homme's Alligator Hour"
      user = "1262019033"
      playlistId = "4m4bGVPdfssEkn7u3CVQFd"
      weight = "10"/>

    <playlist 
      playlistName = "The Definitive Later... with Jools"
      user = "ajpegg"
      playlistId = "1mWt9unHFcjyAT1SVI985d"
      weight = "10" />
    
    <!-- Time/decade specific -->
    <playlist
      playlistName = "Psychedilic era: 65-68"
      user = "cabal76"
      playlistId = "79emhbSRZCFatqEU9ahcm1"
      weight = "2" />

    <playlist
      playlistName = "The British Invasion: 64-69"
      user = "cabal76"
      playlistId = "2WLjrUKMwOhXvBVpEOUDe8"
      weight = "2" />

    <playlist
      playlistName = "Mucchio #12 - Hip Hop Old School"
      user = "cabal76"
      playlistId = "5VXeEowg9QA6Hi2qVJafe4"
      weight = "2" />

    <playlist
      playlistName = "70s cuts"
      user = "patreeeek"
      playlistId = "1gBgOd7GUGU9gMa6wSLLLb"
      weight = "4" />

    <playlist
      playlistName = "80s cuts"
      user = "patreeeek"
      playlistId = "5CzjSMJf8z9pp2ek0xCGmM"
      weight = "4" />

    <playlist
      playlistName = "60s cuts"
      user = "patreeeek"
      playlistId = "6T88w91edJn84em17Cz9K3"
      weight = "4" />
  </playlists>
</playlistConfig>