<recommendationsConfig>
  <userTracksSeeds>15</userTracksSeeds>
  <autoplayPopularSeeds>10</autoplayPopularSeeds>
  <likeToVetoSeedAcceptanceRatio>3</likeToVetoSeedAcceptanceRatio>
  <pointsBase>2</pointsBase>
  <pointsForAnyLikes>1</pointsForAnyLikes>
  <pointsForAnyVetoes>-1</pointsForAnyVetoes>
</recommendationsConfig>