<songkickConfig>
  <apiKey></apiKey>

  <!-- 31442 - Auckland, NZ -->
  <!-- 31455 - Wellington, NZ -->
  <!-- 31443 - Christchurch, NZ -->

  <!-- 26330 - San Francisco Bay Area, US -->
  <!-- 7644 - New York, US -->
  <!-- 9179 - Austin, TX -->
  <!-- 11772-us-new-orleans -->
  <!-- 22600-us-memphis -->
  <!-- 11104-us-nashville -->
  <!-- 12283-us-portland -->
  
  <!-- 17835-us-los-angeles -->
  <!-- 9426-us-chicago -->
  <!-- 2846-us-seattle -->
  
  <!-- 24426-uk-london
    24475-uk-manchester
    24551-uk-edinburgh
    24523-uk-belfast
    -->
  
  <!-- 27232-brazil-rio-de-janeiro -->
  <!-- 30717-japan-tokyo -->
  <!-- 26790-australia-melbourne -->
  
  <!-- 27377-canada-montreal -->
  <!-- 28443-germany-berlin -->
  <!-- 28909-france-paris -->
  <!-- 24521-uk-bristol -->

  <regionId>31455</regionId>
  <multiSongkickConfigs>
    <multiSongkickConfig weight="10" id="26330" name="San Francisco Bay Area, US"/>
    <multiSongkickConfigs weight="10" id="7644" name="New York, US"/>
    <multiSongkickConfigs weight="10" id="9179" name="Austin, TX"/>
    <multiSongkickConfigs weight="10" id="11772" name="new-orleans"/>
    <multiSongkickConfigs weight="10" id="12283" name="portland"/>
    <multiSongkickConfigs weight="10" id="17835" name="Los Angles, USA"/>

    <multiSongkickConfigs weight="10" id="22600" name="memphis"/>
    <multiSongkickConfigs weight="10" id="11104" name="nashville"/>

    <!-- 27232-brazil-rio-de-janeiro -->
    <!-- 30717-japan-tokyo -->
    <multiSongkickConfigs weight="10" id="26790" name="Melbourne, Australia"/>
    
    <multiSongkickConfigs weight="10" id="27377" name="Montreal, Canada"/>
    <!-- 24426-uk-london -->
    <!-- 28443-germany-berlin -->
    <!-- 28909-france-paris -->
    <!-- 24521-uk-bristol -->
    <!-- 29047-hungary-budapest -->
    <multiSongkickConfigs weight="1" id="29047" name="hungary-budapest"/>

  </multiSongkickConfigs>
  <badGenres>
    <!-- Metal stuff -->
    <badGenres contains="death" />
    <badGenres contains="black metal" />
    <badGenres contains="funeral" />
    <badGenres contains="doom" />
    <badGenres contains="thrash" />
    <badGenres contains="violence" />
    <badGenres contains="voidgaze" />
    <badGenres contains="aggro" />
    <badGenres contains="straight edge" />
    <!-- ? aggro, industrial? -->

    <!-- Too bland -->
    <badGenres contains="adult standards" />
    <badGenres contains="contemporary country" />
    <badGenres contains="orchestral" />
    
    <badGenres contains="chamber" />
    <badGenres contains="hardcore" />

  </badGenres>
  
</songkickConfig>