<weightedAutoPlayConfig>
  <weightedAutoPlays>
    <weightedAutoPlay
      name="CuratedPlaylistsAutoplay"
      weight="0" />
    <weightedAutoPlay
      name="CuratedAccountsAutoPlay"
      weight="0" />
    <weightedAutoPlay
      name="RecommendationsAutoplay"
      weight="0" />
    <weightedAutoPlay
      name="DefaultAutoPlay"
      weight="0" />

    <!-- TEMP: Just use this one autoplay for now -->
    <weightedAutoPlay
      name="UseMachineLearningApiAutoplay"
      weight="10" />
    
  </weightedAutoPlays>
</weightedAutoPlayConfig>