<weightedAutoPlayConfig>
  <weightedAutoPlays>
    <weightedAutoPlay
      name="CuratedPlaylistsAutoplay"
      weight="10" />
    <weightedAutoPlay
      name="CuratedAccountsAutoPlay"
      weight="15" />
    <weightedAutoPlay
      name="RecommendationsAutoplay"
      weight="10" />
    <weightedAutoPlay
      name="DefaultAutoPlay"
      weight="0" />
  </weightedAutoPlays>
</weightedAutoPlayConfig>